<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VoteVoteVote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6202456E1BF9C87000ED418D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>620245821BF9C87000ED418D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6202458D1BF9C87000ED418D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
